.nav-menu{
    background: rgb(240, 235, 227);
    display: inline;
}

header {
    height: 35px;
    background: rgb(240, 235, 227);
}

/* nav-menu background*/
header .nav-menu {
    position: relative;
    background:rgb(240, 235, 227);
}

/*nav-menu bar*/
.nav-menu ul {
    list-style-type: none;
    width: 75%;
    /* float: left; */
}

/*nav-menu text*/
.nav-menu li {
    display: inline;
    padding: 0 10px 0 0;
}

/*unvisited link*/
a:link{
    color:rgb(0, 143, 162);
}

/*mouse over link*/
a:hover{
    color:rgb(37, 206, 228);
}

.fa, .fa-brands {
    color: white;
}

.hero-container{
    height: 120px;
    background-color: rgb(125, 157, 156); /*old: rgb(162, 103, 172)*/
}

.hero-container h2{
    color:white;
    padding-top: 10px;
    padding-left: 2%;
}

.hero-container h6{
    color:white;
    padding-top: 5px;
    margin-left: 2%;
}

.hero-container h7{
    color:white;
    margin-left: 2%;
}

/* Mini Divider*/
hr.mini{
    margin: auto 150px;
}