@media screen and (min-width: 720px) {
    .navbar {
        height: 100%;
        width: 20%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        display: initial;
        
        padding: 30px 5px;
        background-color: rgba(245,240,255,1); 
    }

    .navbar-mobile {
        display: none; 
    }

    .content {
        width: 80%;
        padding: 0rem 3rem;
        margin: 0 auto 0 20%;
    }

    .contents-demo {
        width: 35%;
    }

    .contents-text {
        width: 60%
    }
}

@media screen and (min-width: 0px) and (max-width: 720px) {
    .navbar {
        display: none;
    }
    
    .navbar-mobile {
        top: 0;
        position: fixed;
        width: 100%; 
        padding: 5px;
        background-color: rgba(245,240,255,1); 
        z-index: 1;
    }
    
    .content {
        margin: 15vh auto;
    }
    .contents-demo {
        width: 95%;
    }

    .contents-text {
        width: 95%;
    }

    .nav-pfp {
        width: 50px;
    }

    .nav-item {
        padding: 10px;
    }

    .ul {
        padding-left: 1rem;
    }
}

.nav-pfp {
    border-radius: 50%;
}

.nav-title {
    font-weight: bold;
    font-size: 22px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    color: #000;
    text-decoration: none; 
    font-size: 15px;
}

.nav-item.active {
    font-weight: bold;
    color: #6959d2;
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    padding: 5px;
}

.nav-bottom-img {
    width: 100%;
    max-width: 240px;
}

.navbar-mobile-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.contents {
    min-height: 25vh;
    padding: 1.25rem;
    margin: 1rem 0rem;
    border-radius: 1rem;
    background-color: rgba(245,240,255,0.65); 
}

.contents-header {
    text-align: left;
}

video.demo {
    width: 100%;
    max-width: 320px;
}

.demo {
    border-radius: 2.5%;
    border: #B9A7C4 0.15rem solid;
}

.demo-info {
    text-transform:uppercase;
    font-weight: bold
}

.icon {
    padding: 0px 5px;
}

.thumbnail {
    width: 100%;
    max-width: 320px;
    object-fit: cover;
}