/* body {
    margin: 0;
    padding: 20px 10%;
    justify-content: space-evenly;

    background-image: linear-gradient(#ab91cc, #C2C7ED);
    height: 100%;   
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: Nunito;
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 1.5;
} */

@media screen and (min-width: 720px) {
    body {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    #bio-section { width: 35vw;}
    #portfolio-directory {
        width: 35vw;
    }
}

/* mobile view */ 
@media screen and (min-width: 0px) and (max-width: 720px) {
    #main { margin: 20px 0px;}
    #info {text-align: center}
}

#main {  
    padding: 2rem;
    order: 1;
}

#bio-section {
    padding: 1.25rem;
    border-radius: 1rem;   

    background-color: rgba(245,240,255,0.65); 
}

#pfp-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio-text {
    text-align: center;
}

#links {
    text-align: center;
    margin: 1.5rem 0rem 0.5rem;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#pfp-image{
    order: 1;
}
#info {
    order: 2;
    align-items: center;
}

#portfolio-directory{
    margin: 5px;
    order: 2;
}

.grid-container {
    display: grid; 
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 0px 15px;
}

.grid-container > a {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    border: 2px #fff solid;
    border-radius: 1.25em;
    color: #ffffff;

    opacity: 0.6;  
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.grid-container > a:hover {
    opacity: 1;
}

.project-page {
    background-image: url();
}

.art-page {
    background-image: url();
}

.graphics-page {
    background-image: url();
}

.fiction-page {
    background-image: url();
}

.misc-page {
    grid-column: 1 / span 2;
    background-image: url();
}